/* Page Layout */
body {
  font-family: OpenSans, Arial;
  color: #555;
  margin: 0;
}
h1 {
  text-align: center;
  background: #f5f5f5;
  padding: 1rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}
article {
  background-color: #f5f5f5;
  padding: 2rem;
  margin: 1rem auto;
  max-width: 500px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}
article p {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dotted #ccc;
}

/* Used within components */
button {
  background-color: #2a85d2;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
}

span {
  display: inline-block;
  font-size: 2rem;
  padding: 3rem;
  width: 50px;
}

progress {
  display: block;
  width: 100%;
}
