@import '../../themes//docs/assets/scss/main.scss';

:root.dark {
  --color-text: #c2c2c2;
}

.section-info {
  display: block;
  margin-right: auto;
  margin-left: auto;

  h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }

  img {
    display: block;
    min-width: 400px;
    max-width: 600px;
    margin: 0 auto 1.5rem;
  }

  p.lead {
    margin-bottom: 1.5rem;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .btn {
      padding: 0.5rem 1.5rem;
      font-size: 1.25rem;
      border-radius: 0.5rem;
    }
  }
}
