<template>
  <ul :if="this.tasks">
    <li :for="task in this.tasks">
      <label>
        <input type="checkbox" :checked="this.task.done" value="${ this.task.label }" on:click="this.toggleCheck">
        <span>${ this.task.label }</span>
      </label>
    </li>
  </ul>

  <form on:submit="this.addTask">
    <input type="text" on:input="this.updateTaskName" value="${ this.taskName }"  placeholder="Type a task to be done…">
    <button>Add task</button>
  </form>

  <button on:click="this.save">Save my tasks</button>
</template>

<script>
  this.state.tasks = JSON.parse(localStorage.getItem('todo-list-demo')) || []
  this.state.taskName = ''

  this.addTask = (event) => {
    event.preventDefault()
    const label = this.state.taskName
    if (!label) return
    this.state.tasks.push({ label, done: false })
    this.state.taskName = ''
    this.render()
  }

  this.updateTaskName = (event) => {
    this.state.taskName = event.target.value
  }

  this.toggleCheck = (event) => {
    const index = this.state.tasks.findIndex(t => t.label === event.target.value)
    this.state.tasks[index].done = event.target.checked
    this.render()
  }

  this.save = () => {
    localStorage.setItem('todo-list-demo', JSON.stringify(this.state.tasks))
    alert("Your tasks were saved. You can even refresh your browser!")
  }
</script>

<style>
  [type=text] {
    padding: .5rem;
    width: 50%;
    font: inherit;
  }
  [checked] + span {
    text-decoration: line-through;
  }
  button {
    font: inherit;
    display: block;
    margin-top: 1rem;
  }
</style>
