<template>
  <ul :if="this.state.tasks">
    <li :for="task in this.state.tasks">
      <label>
        <input type="checkbox" :checked="this.task.done" value="${ this.task.label }" :on-click="this.toggleCheck">
        <span>${ this.task.label }</span>
      </label>
    </li>
  </ul>

  <form>
    <input type="text" :on-input="this.updateTaskName" value="${ this.state.taskName }">
    <button :on-click="this.addTask">Add task</button>
  </form>
</template>

<script>
  this.state.tasks = JSON.parse(localStorage.getItem('todo-list-demo')) || []
  this.state.taskName = ''

  this.addTask = (event) => {
    this.state.tasks.push({ label: this.state.taskName, done: false })
    this.state.taskName = ''
    this.render()
  }

  this.updateTaskName = (event) => {
    this.state.taskName = event.target.value
  }

  this.toggleCheck = (event) => {
    const index = this.state.tasks.findIndex(t => t.label === event.target.value)
    this.state.tasks[index].done = event.target.checked
    this.render()
  }

  this.save = () => {
    localStorage.setItem('todo-list-demo', JSON.stringify(this.state.tasks))
    alert("Your tasks were saved!")
  }
</script>

<style>
  [type=text] {
    padding: .5rem;
    width: 50%;
    font: inherit;
  }
  [checked] + span {
    text-decoration: line-through;
  }
  button {
    font: inherit;
    display: block;
    margin-top: 1rem;
  }
</style>
