<template name=user-details>
  <h1>${ this.name }</h1>
  <p>is ${ this.age } years old
  </p>
  <button onclick="this.makeMeYounger">Make ${ this.name } younger</button>
  <button onclick="this.makeMeOlder">Make ${ this.name } older</button>

  <p if="${ this.age < 45 }" class="comment">(somehow he's still young!)</p>
</template>

<style>
  .comment {
    font-size: .8rem;
    color: #888;
  }
</style>

<script>
  this.makeMeOlder = (event) => {
    this.render({ age: Number(this.context.age) + 1 })
  }
  this.makeMeYounger = (event) => {
    this.render({ age: Number(this.context.age) - 1 })
  }

  this.connected = () => {
    console.log(`Component <user-details> was instanciated with ${this.context.age}`)
  }
</script>
