<template name=user-details>
  <h1>${ this.state.name }</h1>
  <p>is ${ this.state.age } years old
  </p>
  <button on:click="this.makeMeYounger">Make ${ this.state.name } younger</button>
  <button on:click="this.makeMeOlder">Make ${ this.state.name } older</button>

  <p :if="this.state.age < 45" class="comment">(somehow he's still young!)</p>
</template>

<style>
  .comment {
    font-size: .8rem;
    color: #888;
  }
</style>

<script>
  this.makeMeOlder = (event) => {
    this.render({ age: Number(this.state.age) + 1 })
  }
  this.makeMeYounger = (event) => {
    this.render({ age: Number(this.state.age) - 1 })
  }

  this.connected = () => {
    console.log('Component <user-details> was instanciated with the following state:', this.state)
  }
</script>
