<template>
  <button on:click="this.clicked" :clicked="${ this.status === 'clicked' }"><slot></slot> (${ this.status })</button>
</template>

<script>
  this.state.status = 'unclicked'

  this.clicked = () => {
    this.state.status = this.state.status === 'unclicked' ? 'clicked' : 'unclicked'
    this.render()
  }
</script>

<style>
  button {
    padding: 1rem 2rem;
    border: 1px solid #555;
    border-radius: .5rem;
    background-color: #eee;
    cursor: pointer;
  }
  [clicked] {
    background-color: #c99;
  }

</style>
